<div class="container-xl">
  <h1 class="p-3">RaboDeGalo.com</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><%= link_to cocktail.name, cocktail_path(cocktail) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary w-100' %>
</div>
