<div class="navbar navbar-expand-sm navbar-light" style="background-color:#227A56 ;">
  <%= link_to "Rab d'Galo", cocktails_path, class: 'navbar-brand' %>
  <div id="navbarSupportedContent">
    <%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>
</div>
