.navbar {
  justify-content: space-between;
  color: rgba(0,0,0,0.3);

}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.bg-dark {
  color: #DFCDA0;
}

.nav-brand {
  color: #FD6634;
}
